#info {
  display: inline-block;
  text-align: left;
  margin: 30px 0 0 0;
  width: 1322px;

  @media (max-width: 1322px) {
    width: 100%;
  }
  
  h1, p {
    margin: 0;
  }

  #title {
    display: inline-block;
  }

  #export {
    display: inline-block;
    color: #92929f;
    text-decoration: none;
    background: #29292d;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    margin-top: 7px;
    &:hover {
      background: #4d4d55;
    }
    img {
      vertical-align: -7px;
      width: 26px;
      height: 26px;
    }
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}